@import url('https://fonts.googleapis.com/css?family=Castoro:regular,bold,italic&subset=latin,latin-ext');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Castoro', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f5f8!important;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navStyle {
  margin-left: 30px;
  display: flex;
  text-align: right;
}

.navStyle {
  text-transform: capitalize;
  display: inline-block;
  font-weight: bold;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
  transition: var(--mainTransition);
  margin-right: 10px;
  
}

.navStyle a:hover {
  color: #476a2e;
}

.navHeader {
  text-align: float!important;
  margin-bottom: 68px;
}

.navbar-nav {
  justify-content: flex-end;
}

.App {
  text-align: center;
}

.formstyle {
  margin-right: 25px;
  color: #476a2e;
  margin-bottom: 25px;
  font-weight: 600;
}

.formlayout {
  text-align: center;
}

.formbox {
  padding: 2rem 2.5rem;
  border: 1px solid black;
  width: 640px;
  margin: auto;
  box-shadow:2px 5px 3px 0 rgba(0,0,0,.5);
  background-color: #fffff0!important;
}

.formcolor {
  background-color: #fffdd0!important;
  width: 560px;
}

.navHeader {
  height: 5rem;
  box-shadow:2px 5px 3px 0 rgba(0,0,0,.5);
  border-bottom: 4px solid #476a2e;
  background-color: #fffff0;
}

.iconstyle {
  color:  #476a2e;
}

.navbar-brand {
  font-family: 'Castoro';
  margin-left: 5px;
  font-size: 24px !important;
}

.firstcharacter {
    color: #476a2e;
    font-size: 75px;
    line-height: 80px;
    padding-top: 15px;
    padding-right: 8px;
    padding-left: 3px;
    margin-top: 15px;
  }

  .imgStyle {
    padding-bottom: 25px;
    width: 67px;
    height: 75px;
    margin-top: -15px !important;
    
  }



